#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
LDFLAGS += -Wl,--as-needed

configure_flags += \
		--disable-static \
		--disable-pymod-checks \
		--with-webkit

override_dh_autoreconf:
	dh_autoreconf '(intltoolize -f -c && autoreconf -vfi)'

override_dh_auto_configure:
	dh_auto_configure -- $(configure_flags)

override_dh_install:
	#Remove CHANGELOG,LGPL, AUTHORS, README, COPYING, .la, .a, pyo and pyc files.
	find $(CURDIR)/debian/tmp/usr/lib -name *.la -delete
	find $(CURDIR)/debian/tmp/usr/lib -name *.pyc -delete
	find $(CURDIR)/debian/tmp/usr/lib -name *.pyo -delete
	find $(CURDIR)/debian/tmp/usr/share/ -name COPYING -delete
	find $(CURDIR)/debian/tmp/usr/share/ -name README -delete
	find $(CURDIR)/debian/tmp/usr/share/ -name AUTHORS -delete
	find $(CURDIR)/debian/tmp/usr/share/ -name LGPL -delete
	find $(CURDIR)/debian/tmp/usr/share/ -name CHANGELOG -delete
	#Disable applets
	set -e; for applet in dropper mimenu vala-test python-test wobblyzini; do \
		$(RM) $(CURDIR)/debian/tmp/usr/lib/awn/applets/$${applet}/*.so \
		$(RM) $(CURDIR)/debian/tmp/usr/share/avant-window-navigator/applets/$${applet}/*.py; \
		$(RM) $(CURDIR)/debian/tmp/usr/share/avant-window-navigator/applets/$${applet}/icons/*.svg; \
		$(RM) $(CURDIR)/debian/tmp/usr/share/avant-window-navigator/applets/$${applet}/icons/*.png; \
		$(RM) $(CURDIR)/debian/tmp/usr/share/avant-window-navigator/applets/$${applet}/*.ui; \
		$(RM) $(CURDIR)/debian/tmp/usr/share/avant-window-navigator/applets/$${applet}.desktop; \
	done
	#Make script executable
	chmod +x $(CURDIR)/debian/tmp/usr/share/avant-window-navigator/applets/comics/comics.sh

	dh_install --fail-missing

override_dh_auto_test:
	#Pass, tests don't pass for now.

override_dh_makeshlibs:
	dh_makeshlibs -pawn-applets-c-core -a -n --exclude=*
	dh_makeshlibs -pawn-applets-c-extras -a -n --exclude=*

override_dh_strip:
	dh_strip --dbg-package=awn-applets-c-dbg

%:
	dh $@ --with autoreconf,python2

get-orig-source:
	sh debian/get-bzr-source.sh

.PHONY: get-orig-source
